* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #1e1e1e;
    font-family: monospace;
}

div.mat-mdc-autocomplete-panel {
    padding: 0 !important;
}