* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
    font-family: monospace;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
    background-color: #b8b8b8 !important;
}

div.mat-mdc-autocomplete-panel {
    padding: 0 !important;
}